# Configuration file for the mardaq flowthrough system.

deployment: TEST20230617A
filter_every: 60              # In Seconds
filter_for: 10                 # In Seconds
use_ntp: true





sensors:
  gps:
    enabled: true
    sn: gps00001
    port: '/dev/ttyS0'
  pump:
    enabled: true
    sn: pump00001
    relay_channel: 1
  valve1:
    enabled: true
    sn: valve00001
    relay_channel: 2
  valve2:
    enabled: false
    sn: null
    relay_channel: null
  acs:
    enabled: true
    sn: acs011
    com_port: /dev/ttyUSB0
    cal_file: /media/sel/flowthrough/calibrations/acs/acs_011_20221020.dev
  tsg1:
    enabled: true
    sn: tsg00001
  tsg2:
    enabled: false
    sn: null
  flow1:
    enabled: true
    sn: 11222239
    kfactor: 617.5
  flow2:
    enabled: false
    sn: None
    kfactor: None
    counter_pin: CIO2

